---
export const prerender = false;

import ExerciseDetail from '../../components/ExerciseDetail.svelte';
const { id } = Astro.params;
---

<html>
  <body>
    <ExerciseDetail client:load exId={id} />
  </body>
</html>